<div class="intro-splash" aria-hidden="true">
  <div class="intro-splash__card">
    <div class="intro-splash__mark-wrap">
      <img class="intro-splash__mark" src="/favicon.svg" alt="" />
      <span class="intro-splash__orbit intro-splash__orbit--outer"></span>
      <span class="intro-splash__orbit intro-splash__orbit--inner"></span>
    </div>
    <p class="intro-splash__name">Nikola Nikolov</p>
    <p class="intro-splash__text">Portfolio loading</p>
    <div class="intro-splash__dots" aria-hidden="true"><span></span><span></span><span></span></div>
  </div>
</div>
